#main {
  margin-top: 80px;
}

.jumbotron {
  background-color: #f8f8f8;
  padding: 15px;
}

a.navbar-brand {
  font-weight: 900;
}

.search-panel {
  margin-bottom: 10px;
}

.form-error {
  color: #e74c3c;
  font-size: 12px;
}

.react-datepicker__input-container {
    width: 100%;
}
